@import '../../../styles/variables.scss';

.this_day_info {
    position: relative;
    padding: 40px;
    max-width: 750px;
    width: 100%;
    background-color: $light-background;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

}

.item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 25px;

}

.indicator .indicator_name {
    margin-bottom: 20px;
}

.indicator {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: $box-shadow;
    border-radius: 50%;
    margin-right: 25px;
}

.indicator_name {
    font-size: 14px;
    color: $base-color;
    margin-right: 20px;

}

.indicator_value {
    color: $light-color;
    font-size: 14px;
}