@import '../../../styles/variables.scss';

.this_day {
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background: $light-background;
    box-shadow: $box-shadow;
    border-radius: $border-radius
}

.top_block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.top_block svg {
    width: 120px;
    height: 120px;
}

.this_temp {
    font-size: 100px;
    font-weight: 500;
    color: $primary-color;
}

.this_day_name {
    font-size: 40px;
    color: $light-color;
}

.bottom_block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.this_time,
.this_city {
    font-size: 30px;
    color: $base-color;
}

.this_day_name {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.favorite {
    cursor: pointer;
    margin-left: 8px;
    font-size: 20px;
    color: #ccc;
    transition: color 0.3s;
}

.favorite.active {
    color: gold;
}