@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}