@import '../../../styles/variables.scss';

.popup {
    position: absolute;
    top: 30%;
    left: calc(50% - 340px);
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    max-width: 750px;
    width: 100%;
    background-color: $light-background;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

}

.blur {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

}


.day_temp {
    font-size: 60px;
    font-weight: 500;
    color: $primary-color;
    margin-bottom: 12px;
}

.img svg {
    height: 50px;
    width: 50px;
    margin-bottom: 12px;
}

.day_name {
    font-size: 25px;
    line-height: 30px;
    color: black;
    margin-bottom: 12px;
}

.day_time,
.day_city {
    font-size: 14px;
    color: $base-color;
}