@import '../../../styles/variables.scss';

.days {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    border-radius: $border-radius;
    background: $light-background;
    box-shadow: $box-shadow;
}

.card {
    display: flex;
    flex-direction: column;
    background: #9ec3f061;
    border-radius: 10px;
    width: 180px;
    cursor: pointer;
    padding: 15px;
}

.day {
    margin-bottom: 8px;
    font-size: 18px;
}

.day_info {
    font-size: 14px;
    margin-bottom: 12px;
    color: $base-color;
}

.img {
    margin-bottom: 12px;
}

.temp_day {
    font-size: 18px;
}

.temp_night {
    font-size: 13px;
    color: $base-color;
    margin-bottom: 6px;
}

.info {
    font-size: 13px;
    color: $base-color;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.cancel,
.tab {
    background: $light-background;
    box-shadow: $box-shadow;
    border-radius: 5px;
    padding: 9px 20px;
    margin-right: 15px;
    color: $light-color;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cancel {
    margin-right: 0;
}

.tab {
    &.active {
        background: $primary-color;
        color: #fff;
    }
}

.tabs_wrapper {
    display: flex;
}